@import 'react-calendar/dist/Calendar.css';
@import 'calendar.css';
@import 'planner.css';
@import 'task.css';
@import 'button.css';
@import 'add-task.css';


body{
  background-color: rgb(236, 255, 231);
}
 .MuiFormControl-root{
  background-color: white;

}

.complete{
    text-decoration: line-through;
}
.app_content{
    margin: 30px 0;
    text-align: left;
}
@media screen and (min-width: 900px) {
    .app_content{
        margin: 30px 10vw!important;
    }
  }
@media screen and (min-width: 1200px) {
    .app_content{
        margin: 30px 30vw!important;
    }
  }

